/*#region css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, container,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*#endregion*/

/*#region general*/
@font-face {
    font-family: 'iransans';
    src: url(../Fonts/IRANSansWeb_Bold.eot);
    src: url(../Fonts/IRANSansWeb_Bold.eot?#iefix) format("eot"),url(../Fonts/IRANSansWeb_Bold.woff2) format("woff2"),url(../Fonts/IRANSansWeb_Bold.woff) format("woff"),url(../Fonts/IRANSansWeb_Bold.ttf) format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'iransans';
    src: url(../Fonts/IRANSansWeb_Medium.eot);
    src: url(../Fonts/IRANSansWeb_Medium.eot?#iefix) format("eot"),url(../Fonts/IRANSansWeb_Medium.woff2) format("woff2"),url(../Fonts/IRANSansWeb_Medium.woff) format("woff"),url(../Fonts/IRANSansWeb_Medium.ttf) format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'iransans';
    src: url(../Fonts/IRANSansWeb.eot);
    src: url(../Fonts/IRANSansWeb.eot?#iefix) format("eot"),url(../Fonts/IRANSansWeb.woff2) format("woff2"),url(../Fonts/IRANSansWeb.woff) format("woff"),url(../Fonts/IRANSansWeb.ttf) format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'iransans';
    src: url(../Fonts/IRANSansWeb_Light.eot);
    src: url(../Fonts/IRANSansWeb_Light.eot?#iefix) format("eot"),url(../Fonts/IRANSansWeb_Light.woff2) format("woff2"),url(../Fonts/IRANSansWeb_Light.woff) format("woff"),url(../Fonts/IRANSansWeb_Light.ttf) format("ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansWeb_UltraLight.eot?mthpbh');
    src: url('../fonts/IRANSansWeb_UltraLight.eot?mthpbh?#iefix') format("embedded-opentype"),url('../fonts/IRANSansWeb_UltraLight.woff2?mthpbh') format("woff2"),url('../fonts/IRANSansWeb_UltraLight.woff?mthpbh') format("woff"),url('../fonts/IRANSansWeb_UltraLight.ttf?mthpbh') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'iransansEN';
    src: url(../Fonts/IRANSansWebEN.eot);
    src: url(../Fonts/IRANSansWebEN.eot?#iefix) format("eot"),url(../Fonts/IRANSansWebEN.woff2) format("woff2"),url(../Fonts/IRANSansWebEN.woff) format("woff"),url(../Fonts/IRANSansWebEN.ttf) format("ttf");
}

:root {
    --primary: #069B08;
    --primary-l: #1B8C0E;
    --secondary: #3d3d3d;
    --secondary-s: #656760;
    --danger: #FF6B6B;
    --warning: #F09A0E;
    --dark: #231E1E;
    --light-l: #c4c4c4;
    --light: #E7E7E7;
    --light-s: #F8F8F8;
    --placeholder: #9B9999;
}

* {
    box-sizing: border-box !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder);
}

button, a, input {
    border: 0;
    color: var(--secondary);
    outline: none !important;
}

    button, a, input[type='button'], input[type='submit'] {
        cursor: pointer !important;
        text-decoration: none !important;
    }

[lang="en"] {
    font-family: 'iransansEN',tahoma,arial !important;
}

html, body, main {
    width: 100%;
    direction: rtl;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--secondary-s);
    background-color: var(--light-s);
    font: 500 11pt 'iransans', arial, yekan;
}

main {
    padding: 8rem 0;
}

empty,
status {
    width: 100%;
    display: flex;
    font-weight: bold;
    color: var(--secondary-s);
    justify-content: center;
}

alert {
    z-index: 3;
    left: 15px;
    bottom: 15px;
    align-items: center;
    justify-content: center;
    display: flex !important;
    position: fixed !important;
    padding: 10px 15px !important;
    border-radius: 16px !important;
}

customLink {
    width: 100%;
    padding-top: 3rem;
    font-size: 10pt;
    display: block;
    text-align: center;
}

    customLink label {
        margin-left: .25rem
    }

    customLink a {
        color: var(--primary-l) !important;
    }

price {
    font-size: 14pt;
    font-weight: 600;
    margin-right: 4px;
    position: relative;
    display: inline-block;
    color: var(--secondary);
}

    price:after {
        bottom: 0;
        font-size: 11pt;
        font-weight: 400;
        content: 'تومان';
        margin-right: 6px;
        display: inline-block;
    }


logo {
    width: 128px;
    margin: 0 auto;
    display: block;
}

    logo a {
        display: block;
    }

        logo a img {
            width: 100%;
        }

.text-success {
    color: var(--primary-l) !important;
}

@media (min-width: 0) and (max-width: 575.98px) {
    row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    status form group {
        padding: 0 !important
    }
}
/*#endregion*/

/*#region form*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none !important;
    -webkit-text-fill-color: var(--light) !important;
    -webkit-box-shadow: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--light-s);
}

.form-group {
    display: block;
    align-items: center;
    position: relative;
    transition: all ease-in-out .3s
}

    .form-group:last-child {
        margin-bottom: 0;
    }

    .form-group .form-control {
        font-size: 10pt;
        padding: 6px 30px;
        border-radius: 50px;
        width: calc(100% - 60px);
        outline: none !important;
        box-shadow: none !important;
        border: .8px solid var(--light);
        box-sizing: content-box !important;
        color: var(--secondary-s) !important;
    }

        .form-group .form-control:not(.is-invalid):not(:disabled):not([readonly]):hover,
        .form-group .form-control:not(.is-invalid):not(:disabled):not([readonly]):focus {
            border-color: var(--light-l) !important
        }

    .form-group label[for]:not(.toggle-label) {
        top: 24px;
        z-index: 1;
        right: 30px;
        font-size: 10pt;
        padding: 0 15px;
        position: absolute;
        border-radius: 50px;
        color: var(--placeholder);
        transform: translateY(-50%);
        transition: all ease-in-out .3s;
    }

        .form-group label[for]:not(.toggle-label).focus {
            top: 0;
            font-size: 8pt;
            background: var(--white);
        }

    .form-group .form-control.is-invalid {
        background: none;
        border-color: rgba(220,53,69,1);
        color: rgba(220,53,69,1);
    }

    .form-group .invalid-feedback {
        font-size: 8pt;
        padding: 6px 15px;
        text-align: right;
        text-align: left;
        border-radius: 50px;
        left: 15px !important;
        background: var(--white) !important;
        color: rgba(220,53,69,1);
    }

textarea.form-control {
    border-radius: 15px !important;
    padding-top: 14px !important;
    min-height: 128px;
}

input-group {
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    border: .8px solid var(--light);
}

    input-group input {
        display: inline-flex;
        border: none !important;
        border-radius: 50px !important;
        width: calc(100% - 108px) !important;
    }

    input-group prepend {
        width: 64px;
        display: inline-flex !important;
        padding: 6px 30px;
        position: absolute;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        justify-content: center;
        font-size: 10pt;
        color: var(--light-l);
        z-index: 1;
        background: var(--light-s);
        height: calc(100% - 2px);
        left: .8px;
        border-radius: 50px 0 0 50px !important;
    }

.toggle-label {
    display: flex;
    cursor: pointer;
    padding: 0 15px;
}

    .toggle-label span {
        margin-left: 1rem;
    }

toggle {
    width: 48px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 50px;
    border: .8px solid var(--light);
    transition: all ease-in-out .3s;
}

    toggle:before {
        right: 4px;
        content: '';
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        border-radius: 50px;
        background: var(--light-l);
        transition: all ease-in-out .3s;
    }

    toggle.active {
        background: var(--primary-l);
    }

        toggle.active:before {
            background: var(--white);
            transform: translateX(-20px);
        }
/*#endregion*/        
/*#region custom control*/
.custom-control-label {
    padding-right: 1.5rem;
    display: flex !important;
    align-items: center;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none
}

.custom-control-label::before,
.custom-control-label::after {
    right: 0 !important;
    left: auto !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background: var(--primary-l) !important;
    border-color: var(--primary-l) !important
}
/*#endregion*/
/*#region select2*/
.select2-container {
    width: 100% !important;
    text-align: right;
}

    .select2-container .select2-selection--single {
        width: 100%;
        display: flex !important;
        cursor: pointer;
        padding: 10px 15px;
        align-items: center !important;
        font-size: 9pt;
        height: auto !important;
        font-family: iransans;
        border: 1px solid;
        color: var(--secondary-s);
        background: var(--light-s);
        border-radius: 50px !important;
        outline: none !important;
    }

.select2-container--default .select2-selection--single {
    border: .8px solid var(--light) !important;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        position: absolute;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        left: 15px !important;
        top: 50% !important;
        transform: translateY(-50%);
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: var(--primary-l);
    }

.select2-dropdown {
    border: .8px solid var(--light) !important;
    border-radius: 15px !important;
    overflow: hidden !important;
}

.select2-search--dropdown {
    padding: 6px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 50px !important;
    border: 0 !important;
    font-size: 8pt !important;
    background: var(--light-s) !important;
    padding: 10px 15px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: var(--primary-l);
}

.select2-selection__arrow icon {
    transition: all ease-in-out .3s;
}

.select2-container--open icon:before {
    transform: rotate(180deg);
}

.select2-container--default .select2-results > .select2-results__options {
    padding: 6px;
    font-size: 9pt !important;
    color: var(--secondary-s) !important;
}

    .select2-container--default .select2-results > .select2-results__options li {
        border-radius: 50px !important;
        padding: 6px 15px;
    }

        .select2-container--default .select2-results > .select2-results__options li:not(:last-child) {
            margin-bottom: .25rem;
        }

.select2-container--default .select2-results__option[aria-selected=true] {
    background: var(--light) !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: var(--primary-l) !important;
}
/*#endregion*/
/*#region box*/
box {
    width: 100%;
    display: block;
    padding: 15px;
    margin: 0 auto;
    max-width: 680px;
    min-height: 368px;
    position: relative;
    border-radius: 15px;
    margin-top: 1.75rem;
    background: var(--white);
}

    box.account {
        margin: 0;
        width: auto;
    }

    box box-header {
        width: 100%;
        height: 36px;
        display: flex;
        position: relative;
        justify-content: center;
    }

        box box-header h1 {
            z-index: 1;
            display: flex;
            font-size: 14pt;
            padding: 0 15px;
            font-weight: 600;
            text-align: center;
            align-items: center;
            color: var(--secondary);
            background: var(--white);
        }

    box box-body {
        width: 100%;
        display: flex;
        padding: 2rem 0 4rem;
    }

    box box-footer {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 48px;
        display: flex;
        overflow: hidden;
        position: absolute;
        border-radius: 0 0 15px 15px;
        justify-content: space-between;
    }

        box box-footer action-right,
        box box-footer action-left {
            padding: 6px;
            width: 48%;
            max-width: 256px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all ease-in-out 0.3s
        }

        box box-footer action-right {
            background: var(--light);
            border-top-left-radius: 15px;
            color: var(--secondary) !important;
        }

            box box-footer action-right a {
                color: var(--secondary) !important;
            }

            box box-footer action-right:hover {
                background: var(--light-l)
            }

        box box-footer action-left {
            background: var(--primary);
            border-top-right-radius: 15px;
            color: var(--white) !important;
        }

            box box-footer action-left a {
                color: var(--white) !important;
            }

            box box-footer action-left:hover {
                background: var(--primary-l);
            }

            box box-footer action-right a,
            box box-footer action-left a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
/*#endregion*/
/*#region header*/
header {
    z-index: 2;
    width: 100%;
    display: flex;
    padding: 1rem 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border-bottom: 1px solid var(--light)
}

    header row {
        align-items: center;
        justify-content: space-between;
    }

    header logo {
        margin: 0;
        width: 128px;
        display: block;
    }

        header logo img {
            width: 100%;
            display: block;
        }

    header search {
        width: 80%;
        direction: ltr;
        display: block;
        border-radius: 50px;
        max-width: calc(100% - 380px);
        border: .8px solid var(--light);
        transition: all ease-in-out .3s;
    }

        header search.focus,
        header search:hover {
            border-color: var(--light-l);
        }

        header search form {
            display: flex;
            align-items: center;
        }

            header search form button {
                width: 38px;
                height: 38px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--light);
                border-radius: 50px 0 0 50px;
                transition: all ease-in-out .3s;
            }

        header search.focus form button,
        header search:hover form button {
            background-color: var(--light-l);
        }

        header search form button i {
            color: var(--dark)
        }

        header search form input {
            border: 0;
            height: 38px;
            font-size: 9pt;
            direction: rtl;
            padding: 0 15px;
            text-align: right;
            color: var(--secondary);
            width: calc(100% - 38px);
            border-radius: 0 50px 50px 0;
        }

    header account {
        width: 180px;
        display: block;
    }

        header account > a {
            width: 100%;
            height: 38px;
            display: flex;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            background: var(--light);
            color: var(--dark) !important;
            transition: all ease-in-out .3s;
        }

            header account > a:hover {
                background: var(--light-l);
            }

            header account > a::after {
                content: none !important
            }

        header account a i {
            margin-left: .5rem;
        }

        header account dropdown {
            overflow: hidden;
            right: 0 !important;
            padding: 0 !important;
            left: auto !important;
            width: 100% !important;
            text-align: right !important;
            border-radius: 15px !important;
            color: var(--secondary) !important;
        }

            header account dropdown a {
                display: flex;
                font-size: 10pt;
                padding: 6px 15px;
                align-items: center;
                color: var(--secondary) !important;
                transition: all ease-in-out .3s;
            }

                header account dropdown a:hover {
                    background: var(--light-s)
                }

                header account dropdown a:last-child {
                    color: var(--secondary-s) !important
                }

                header account dropdown a.dropdown-divider {
                    padding: 0 !important;
                    margin: 0 15px !important;
                }

@media (min-width: 0) and (max-width: 575.98px) {
    header search {
        display: none
    }

        header search form button {
            border-radius: 50px
        }

        header search form input {
            display: none
        }

    header account {
        width: 74px;
    }

        header account i {
            margin-left: 0
        }

        header account span {
            display: none
        }

        header account dropdown {
            left: 0 !important;
            right: auto !important;
        }

            header account dropdown span {
                display: block;
            }
}
/*#endregion*/

/*#region basket*/
basket {
    left: 15px;
    bottom: 15px;
    display: block;
    position: fixed;
    color: var(--white);
    border-radius: 50px;
}

    basket a {
        width: 58px;
        height: 58px;
        display: flex;
        font-size: 18pt;
        position: relative;
        align-items: center;
        border-radius: 50px;
        justify-content: center;
        color: var(--white) !important;
        transition: all ease-in-out .3s;
        background-color: var(--primary);
    }

        basket a:hover {
            background-color: var(--primary-l)
        }

        basket a[fruitCount]:before {
            top: -3px;
            right: -6px;
            width: 24px;
            height: 24px;
            display: flex;
            font-size: 10pt;
            position: absolute;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            background: var(--danger);
            content: attr(fruitCount)
        }

/*#endregion*/

/*#region file upload*/
preview {
    display: flex;
    padding: .75rem;
    width: 100%;
    min-height: 14.04225908372828vw;
    margin: 0 auto .75rem;
    background: var(--light);
    border-radius: 16px;
    overflow: hidden;
}

.img-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    object-position: center;
}

.browse {
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    background: var(--secondary-s);
    color: var(--white) !important;
    border-radius: 50px;
    box-shadow: none !important;
    border: 0 !important;
}
/*#endregion*/

/*#region category*/
category {
    width: 100%;
    padding: 8px 15px;
    display: flex;
    text-align: right;
    align-items: center;
    border-radius: 15px;
    background-color: var(--white);
}

    category:before {
        right: 0;
        display: block;
        font-size: 9pt;
        text-align: right;
        padding: 10px 15px;
        content: 'دستبندی';
        color: var(--secondary-s);
    }

    category ul {
        display: block;
        margin-right: 6px;
    }

        category ul li {
            display: inline-block;
            margin-right: 10px
        }

            category ul li:first-child {
                margin-right: 0;
            }

            category ul li a {
                display: block;
                width: 100%;
                min-width: 80px;
                font-size: 11pt;
                text-align: center;
                padding: 8px 15px;
                border-radius: 50px;
                background: var(--light);
                color: var(--secondary-s) !important;
                transition: all ease-in-out .3s;
            }

                category ul li a:hover,
                category ul li a.active {
                    background: var(--warning);
                    color: var(--white) !important;
                }

@media (min-width: 0) and (max-width: 575.98px) {
    category {
        padding: 15px;
        flex-direction: column;
    }

        category:before {
            width: 100%;
            font-size: 12pt;
            text-align: center;
            margin-bottom: .75rem;
        }

        category ul {
            width: 100%;
            text-align: center;
        }
}
/*#endregion*/

/*#region shop items*/
shop-items {
    width: 100%;
    display: block;
    padding: 1rem 0;
}

    shop-items.cardItems {
        padding: 0;
    }

    shop-items row column {
        margin-bottom: 30px;
    }

    shop-items.cardItems column {
        padding-bottom: .5rem;
        margin-bottom: .5rem;
        border-bottom: .8px solid var(--light);
    }

    shop-items row column:last-child {
        margin-bottom: 0;
        border-bottom: 0;
    }

    shop-items row totalFinancial {
        display: block;
    }

        shop-items row totalFinancial quantity {
            display: inline-block;
        }

            shop-items row totalFinancial quantity:before {
                content: attr(pre);
                display: inline-block;
                font-weight: 400;
                margin-left: 6px;
                bottom: 0;
            }

    shop-items row item {
        display: block;
        border-radius: 15px;
        background: var(--white);
    }

        shop-items row item.inline {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        shop-items row item media {
            padding: 15px;
            display: flex;
            height: 118px;
            position: relative;
            align-items: center;
        }

        shop-items row item.inline media {
            display: inline-flex;
        }

        shop-items row item media img {
            width: 84px;
            object-fit: contain;
            object-position: center;
        }

        shop-items row item media content {
            display: block;
            text-align: right;
            margin-right: 15px;
        }

            shop-items row item media content h3 {
                font-size: 11pt;
                font-weight: 600;
                color: var(--secondary);
            }

            shop-items row item media content financial {
                display: block;
            }

                shop-items row item media content financial quantity {
                    display: inline-block;
                    font-size: 9pt;
                }

                    shop-items row item media content financial quantity:before {
                        content: attr(pre);
                        display: inline-block;
                        font-weight: 400;
                        margin-left: 4px;
                        bottom: 0;
                    }

                shop-items row item media content financial price {
                    font-size: 11pt;
                    font-weight: 600;
                    margin-right: 4px;
                    position: relative;
                    display: inline-block;
                    color: var(--secondary);
                }

                    shop-items row item media content financial price:after {
                        content: 'تومان';
                        display: inline-block;
                        font-size: 8pt;
                        font-weight: 400;
                        margin-right: 4px;
                        bottom: 0;
                    }

        shop-items row item bot {
            width: 100%;
            display: block;
            position: relative;
            padding-top: 1.75rem;
        }

            shop-items row item bot action {
                left: 0;
                bottom: 0;
                height: 28px;
                font-size: 8pt;
                position: absolute;
                padding: 6px 15px;
                background: var(--primary);
                border-radius: 0 15px 0 15px;
                transition: all ease-in-out .3s;
            }

                shop-items row item bot action:hover {
                    background: var(--primary-l);
                }

                shop-items row item bot action a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--white) !important;
                }

                    shop-items row item bot action a i {
                        margin-left: 6px;
                    }

            shop-items row item bot survey {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 28px;
                display: flex;
                padding: 3px 15px;
                position: absolute;
                align-items: center;
                background: var(--light);
                border-radius: 0 0 15px 15px;
            }

                shop-items row item bot survey like,
                shop-items row item bot survey dislike {
                    font-size: 10pt;
                    margin-left: 10px;
                    align-items: center;
                    display: inline-flex;
                }


                    shop-items row item bot survey like i,
                    shop-items row item bot survey dislike i {
                        margin-left: 6px;
                    }

        shop-items row item left {
            width: 164px;
            align-items: center;
            display: inline-flex;
            justify-content: space-between;
        }

            shop-items row item left .minus,
            shop-items row item left .plus {
                width: 28px;
                height: 28px;
                padding: 6px;
                display: flex;
                border-radius: 50px;
                align-items: center;
                justify-content: center;
                transition: all ease-in-out .3s;
            }

                shop-items row item left .minus:hover,
                shop-items row item left .plus:hover {
                    transform: scale(1.1888);
                }

            shop-items row item left .minus {
                margin-left: 15px;
                background: var(--light);
                color: var(--secondary-s);
            }

                shop-items row item left .minus:hover {
                    background: var(--light-l);
                }


            shop-items row item left .plus {
                margin-right: 15px;
                background: var(--primary);
                color: var(--white) !important;
            }

                shop-items row item left .plus:hover {
                    background: var(--primary-l);
                }

            shop-items row item left count span {
                font-size: 11pt;
                font-weight: 600;
                color: var(--secondary);
            }

            shop-items row item left count small {
                font-size: 8pt;
                margin-right: 4px;
            }

@media (min-width: 0) and (max-width: 575.98px) {
    shop-items row column {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    shop-items row item.inline {
        display: block;
    }

        shop-items row item.inline media {
            display: flex;
            padding: 15px 0;
        }

    shop-items row item left {
        width: 100%;
        display: flex;
    }
}
/*#endregion*/

/*#region userPanel*/
userPanel {
    display: block;
    overflow: hidden;
    border-radius: 15px;
    padding: 0 !important;
    background: var(--white);
}

    userPanel panel-header {
        width: 100%;
        display: block;
        min-height: 128px;
        position: relative;
        border-radius: 15px;
        background: url("/Images/userPanel-cover-img.svg") no-repeat 100%;
    }

        userPanel panel-header title {
            bottom: 0;
            right: 1.5rem;
            display: block;
            font-size: 10pt;
            min-width: 128px;
            position: absolute;
            text-align: center;
            padding: 6px 15px;
            color: var(--secondary);
            background: var(--white);
            border-radius: 15px 15px 0 0;
        }

        userPanel panel-header action {
            top: 15px;
            left: 15px;
            width: 100%;
            max-width: 100px;
            position: absolute;
        }

            userPanel panel-header action a {
                width: 100%;
                display: flex;
                font-size: 9pt;
                padding: 6px 15px;
                align-items: center;
                border-radius: 50px;
                justify-content: center;
                background: var(--white);
                color: var(--secondary-s);
                transition: all ease-in-out .3s;
            }

                userPanel panel-header action a:hover {
                    color: var(--dark);
                }

                userPanel panel-header action a i {
                    margin-left: 8px;
                }

    userPanel panel-body {
        width: 100%;
        display: block;
        padding: 1.5rem;
    }

        userPanel panel-body ul {
            width: 100%;
            display: block;
        }

            userPanel panel-body ul li {
                width: 100%;
                display: block;
                border-bottom: .8px solid var(--light);
            }

                userPanel panel-body ul li:last-child {
                    border-bottom: none;
                }

                userPanel panel-body ul li a {
                    display: flex;
                    padding: 10px 0;
                    font-size: 12pt;
                    align-items: center;
                    color: var(--secondary);
                    transition: all ease-in-out .3s;
                }

                    userPanel panel-body ul li.active a,
                    userPanel panel-body ul li a:hover {
                        color: var(--primary-l) !important;
                    }

                    userPanel panel-body ul li a i {
                        margin-left: 8px;
                    }

@media (min-width: 0) and (max-width: 575.98px) {
    userPanel {
        margin-bottom: 3rem
    }
}
/*#endregion*/

/*#region table*/
list {
    display: block;
    font-size: 10pt;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--light) !important;
}

    list list-head {
        display: block;
        background: var(--light-s);
        color: var(--secondary-s);
        border-bottom: 1px solid var(--light);
    }

    list list-body {
        display: block;
        color: var(--dark);
    }

    list row {
        display: grid;
    }

    list.addressList row {
        grid-template-columns: 10% 20% 20% 40% 10%
    }

    list.orderList row {
        grid-template-columns: 8% 18% 18% 30% 16% 10%
    }

    list.catList row {
        grid-template-columns: 20% 30% 30% 20%
    }


    list.userList row {
        grid-template-columns: 10% 30% 30% 10% 20%
    }


    list.productList row {
        grid-template-columns: 8% 20% 16% 16% 20% 10% 10%
    }

    list.mOrderList row {
        grid-template-columns: 8% 12% 18% 16% 20% 16% 10%
    }


    list row column {
        display: flex;
        padding: 10px 15px;
        align-items: center;
        justify-content: center;
        border-left: 1px solid var(--light);
    }

        list row column price {
            font-size: 12pt;
        }

            list row column price:after {
                font-size: 9pt;
            }

        list row column:last-child {
            border-left: 0;
        }

    list.orderList row column:last-child {
        padding: 0;
    }

        list.orderList row column:last-child a {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 10px 15px;
            align-items: center;
            justify-content: center;
        }

    list row column:last-child a:hover {
        color: var(--primary-l);
    }

    list list-body row:nth-child(even) {
        background: var(--light-s)
    }

    list list-body row column:last-child .delete {
        transition: all ease-in-out .3s;
        color: var(--secondary-s);
        margin-left: .75rem
    }

@media (min-width: 0) and (max-width: 575.98px) {
    list list-head {
        display: none
    }

    list list-body row {
        background: var(--white)
    }

    list row {
        grid-template-columns: 50% 50% !important;
    }

        list row:not(:last-child) {
            border-bottom: .8px solid var(--light)
        }

        list row column {
            border-left: 0;
            border-bottom: 1px solid var(--light);
            border-right: 1px solid var(--light);
            background: var(--white);
        }

            list row column.d-lg-none {
                background: var(--light-s)
            }
}
/*#endregion*/

/*#region box-item*/
box-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-between;
    text-align: right;
}

    box-item item-head {
        width: 128px;
        display: block;
        font-size: 9pt;
        color: var(--secondary);
    }

        box-item item-head i {
            margin-left: .5rem;
        }

    box-item card {
        font-size: 10pt;
        display: block;
        border-radius: 15px;
        padding: 1.25rem;
        font-weight: 400;
        color: var(--secondary-s);
        background: var(--light-s);
        width: calc(100% - 148px);
    }

        box-item card .addAddress {
            padding: .25rem .75rem;
            display: flex;
            width: 100%;
            align-items: center;
            font-weight: 500;
            justify-content: center;
            border: .8px solid var(--light);
            color: var(--secondary-s);
            border-radius: 15px;
            font-size: 8pt;
        }

            box-item card .addAddress:hover {
                color: var(--primary-l)
            }

            box-item card .addAddress i {
                margin-left: .5rem;
            }

        box-item card row:not(:last-child) {
            margin-bottom: 15px;
        }

        box-item card row column:last-child {
            color: var(--dark);
            text-align: left;
        }

        box-item card .custom-control {
            font-size: 9pt;
            line-height: 1.5rem;
        }

            box-item card .custom-control:not(:last-child):not(.custom-control-inline) {
                margin-bottom: 12px;
            }

        box-item card .custom-control-input[checked] ~ .custom-control-label {
            color: var(--dark);
        }
/*#endregion*/
